html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
}

#header {
  margin: 1px 0;
  text-align: center;
}

#grid-container {
  margin: 0 auto;
  max-width: 500px;
  height: 500px;
}

.square {
  width: 30%;
  height: 30%;
  margin: 1%;
  padding: 0;
  display: inline-block;
  text-align: center;
  line-height: 575%;
  background-color: #008FFF;
  border-radius: 10px;
}