html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ecf0f1;
}

#header {
  margin: 1px 0;
  text-align: center;
}

#grid-container {
  margin: 0 auto;
  max-width: 500px;
  height: 500px;
}

.square {
  width: 30%;
  height: 30%;
  margin: 5px;
  padding: 0;
  text-align: center;
  line-height: 575%;
  background-color: #7f8c8d;
  border-radius: 10px;
  vertical-align: top;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.square i {
  color: #ecf0f1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.x-move {
  background-color: #3498db;
}

.o-move {
  background-color: #e74c3c;
}